In [28]:
import pandas as pd
import numpy as np
import os

df1 = pd.read_csv('googleplaystore.csv') 

data = df1[['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type', 'Content Rating']].groupby(['App']).max().dropna().reset_index()
data["Installs"] = pd.to_numeric(data["Installs"].str.replace(",","").str.replace("+",""))
data["Reviews"] = pd.to_numeric(data["Reviews"])
mydata = data[['App',"Type",'Category', 'Content Rating', "Rating", "Reviews", "Installs"]]
mydata

C:\Users\andrz\AppData\Local\Temp/ipykernel_11896/2747569144.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Installs"] = pd.to_numeric(data["Installs"].str.replace(",","").str.replace("+",""))

,App,Type,Category,Content Rating,Rating,Reviews,Installs
0,+Download 4 Instagram Twitter,Free,SOCIAL,Everyone,4.5,40467,1000000
1,- Free Comics - Comic Apps,Free,COMICS,Mature 17+,3.5,115,10000
2,.R,Free,TOOLS,Everyone,4.5,259,10000
3,/u/app,Free,COMMUNICATION,Mature 17+,4.7,573,10000
4,058.ba,Free,NEWS_AND_MAGAZINES,Everyone,4.4,27,100
...,...,...,...,...,...,...,...
8191,Í∞êÏÑ±ÌïôÏõê BL Ï≤´ÏÇ¨Îûë,Free,COMICS,Everyone,4.4,190,10000
8192,üíé I'm rich,Paid,LIFESTYLE,Everyone,3.8,718,10000
8193,"üíò WhatsLov: Smileys of love, stickers and GIF",Free,SOCIAL,Everyone,4.6,22098,1000000
8194,üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework!,Free,TOOLS,Everyone,4.0,19,10000
8195,üî• Football Wallpapers 4K | Full HD Backgrounds üòç,Free,ENTERTAINMENT,Everyone,4.7,11661,1000000

In [29]:
mydata['App'].duplicated().sum()

0

In [30]:
free_type = mydata[mydata['Type']== 'Free']
free_type

,App,Type,Category,Content Rating,Rating,Reviews,Installs
0,+Download 4 Instagram Twitter,Free,SOCIAL,Everyone,4.5,40467,1000000
1,- Free Comics - Comic Apps,Free,COMICS,Mature 17+,3.5,115,10000
2,.R,Free,TOOLS,Everyone,4.5,259,10000
3,/u/app,Free,COMMUNICATION,Mature 17+,4.7,573,10000
4,058.ba,Free,NEWS_AND_MAGAZINES,Everyone,4.4,27,100
...,...,...,...,...,...,...,...
8190,Ëã±Êº¢Â≠óÂÖ∏ EC Dictionary,Free,FAMILY,Everyone,4.3,55408,1000000
8191,Í∞êÏÑ±ÌïôÏõê BL Ï≤´ÏÇ¨Îûë,Free,COMICS,Everyone,4.4,190,10000
8193,"üíò WhatsLov: Smileys of love, stickers and GIF",Free,SOCIAL,Everyone,4.6,22098,1000000
8194,üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework!,Free,TOOLS,Everyone,4.0,19,10000
8195,üî• Football Wallpapers 4K | Full HD Backgrounds üòç,Free,ENTERTAINMENT,Everyone,4.7,11661,1000000

In [31]:
# top_10_cat =free_type.sort_values(["Installs","Reviews"], ascending=False).iloc[:100]
# top_10_cat

In [45]:
d = data.sort_values(["Installs","Reviews"], ascending=False)
q = .8
pop = d[d["Installs"] > d["Installs"].quantile(q)]
pop = pop[pop["Reviews"] > pop["Reviews"].quantile(q)]
pop.sort_values(["Installs","Reviews"], ascending=False)

d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Category"]).count().reset_index()
cat_rank = d.iloc[:,:2].sort_values(["App"], ascending=False)
cat_rank.rename(columns={'App':'Category_Rank'}, inplace=True)
cat_rank

               Category  Category_Rank
5                  GAME             93
3                FAMILY             31
1         COMMUNICATION             27
16                TOOLS             22
11          PHOTOGRAPHY             20
14               SOCIAL             13
12         PRODUCTIVITY             13
15               SPORTS              9
10      PERSONALIZATION              8
13             SHOPPING              8
18        VIDEO_PLAYERS              7
19              WEATHER              5
17     TRAVEL_AND_LOCAL              4
8   MAPS_AND_NAVIGATION              3
0   BOOKS_AND_REFERENCE              3
6    HEALTH_AND_FITNESS              2
4               FINANCE              2
2         ENTERTAINMENT              2
9    NEWS_AND_MAGAZINES              1
7             LIFESTYLE              1

In [46]:
file  = pd.merge(pop, cat_rank, on='Category')
file

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Category_Rank
0,Facebook,SOCIAL,4.1,78158306,Varies with device,1000000000,Free,Teen,13
1,Instagram,SOCIAL,4.5,66577446,Varies with device,1000000000,Free,Teen,13
2,Google+,SOCIAL,4.2,4831125,Varies with device,1000000000,Free,Teen,13
3,Snapchat,SOCIAL,4.0,17015352,Varies with device,500000000,Free,Teen,13
4,Facebook Lite,SOCIAL,4.3,8606259,Varies with device,500000000,Free,Teen,13
...,...,...,...,...,...,...,...,...,...
269,The Weather Channel: Rain Forecast & Storm Alerts,WEATHER,4.4,1558437,Varies with device,50000000,Free,Everyone,5
270,"GO Weather - Widget, Theme, Wallpaper, Efficient",WEATHER,4.5,1422858,Varies with device,50000000,Free,Everyone,5
271,Yahoo Weather,WEATHER,4.4,1312037,Varies with device,10000000,Free,Everyone,5
272,Chase Mobile,FINANCE,4.6,1374549,32M,10000000,Free,Everyone,2
273,Bank of Brazil,FINANCE,4.5,1336246,39M,10000000,Free,Everyone,2

In [47]:
d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Content Rating"]).count().reset_index()
content_rank =d.iloc[:,:2].sort_values(["App"], ascending=False)
content_rank.rename(columns={'App':'Content_Rank'}, inplace=True)
content_rank

  Content Rating  Content_Rank
0       Everyone           175
3           Teen            64
1   Everyone 10+            21
2     Mature 17+            14

In [48]:
file  = pd.merge(file, content_rank, on='Content Rating')
file

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Category_Rank,Content_Rank
0,Facebook,SOCIAL,4.1,78158306,Varies with device,1000000000,Free,Teen,13,64
1,Instagram,SOCIAL,4.5,66577446,Varies with device,1000000000,Free,Teen,13,64
2,Google+,SOCIAL,4.2,4831125,Varies with device,1000000000,Free,Teen,13,64
3,Snapchat,SOCIAL,4.0,17015352,Varies with device,500000000,Free,Teen,13,64
4,Facebook Lite,SOCIAL,4.3,8606259,Varies with device,500000000,Free,Teen,13,64
...,...,...,...,...,...,...,...,...,...,...
269,Boom Beach,FAMILY,4.5,5591653,95M,50000000,Free,Everyone 10+,31,21
270,SimCity BuildIt,FAMILY,4.5,4218587,100M,50000000,Free,Everyone 10+,31,21
271,MARVEL Future Fight,FAMILY,4.6,2354042,72M,50000000,Free,Everyone 10+,31,21
272,Minecraft,FAMILY,4.5,2376564,Varies with device,10000000,Paid,Everyone 10+,31,21
273,Star Wars‚Ñ¢: Galaxy of Heroes,FAMILY,4.5,1461698,67M,10000000,Free,Everyone 10+,31,21

In [36]:
d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Rating"]).count().reset_index()
d.iloc[:,:2].sort_values(["App"], ascending=False)

    Rating  App
7      4.4   65
8      4.5   62
9      4.6   52
6      4.3   48
5      4.2   16
10     4.7   15
4      4.1    5
3      4.0    4
11     4.8    4
0      3.7    1
1      3.8    1
2      3.9    1

In [49]:
file

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Category_Rank,Content_Rank
0,Facebook,SOCIAL,4.1,78158306,Varies with device,1000000000,Free,Teen,13,64
1,Instagram,SOCIAL,4.5,66577446,Varies with device,1000000000,Free,Teen,13,64
2,Google+,SOCIAL,4.2,4831125,Varies with device,1000000000,Free,Teen,13,64
3,Snapchat,SOCIAL,4.0,17015352,Varies with device,500000000,Free,Teen,13,64
4,Facebook Lite,SOCIAL,4.3,8606259,Varies with device,500000000,Free,Teen,13,64
...,...,...,...,...,...,...,...,...,...,...
269,Boom Beach,FAMILY,4.5,5591653,95M,50000000,Free,Everyone 10+,31,21
270,SimCity BuildIt,FAMILY,4.5,4218587,100M,50000000,Free,Everyone 10+,31,21
271,MARVEL Future Fight,FAMILY,4.6,2354042,72M,50000000,Free,Everyone 10+,31,21
272,Minecraft,FAMILY,4.5,2376564,Varies with device,10000000,Paid,Everyone 10+,31,21
273,Star Wars‚Ñ¢: Galaxy of Heroes,FAMILY,4.5,1461698,67M,10000000,Free,Everyone 10+,31,21

In [38]:
df2 = pd.read_csv('googleplaystore_user_reviews.csv') 


sentiment_count =df2[['App', 'Sentiment_Polarity']].dropna().groupby(['App']).count()
sentiment_count

                                                    Sentiment_Polarity
App
10 Best Foods for You                                              194
104 ÊâæÂ∑•‰Ωú - ÊâæÂ∑•‰Ωú ÊâæÊâìÂ∑• ÊâæÂÖºËÅ∑ Â±•Ê≠∑ÂÅ•Ê™¢ Â±•Ê≠∑Ë®∫ÁôÇÂÆ§                                    40
11st                                                                40
1800 Contacts - Lens Store                                          80
1LINE ‚Äì One Line with One Touch                                     38
...                                                                ...
Hotels.com: Book Hotel Rooms & Find Vacation Deals                  68
Hotspot Shield Free VPN Proxy & Wi-Fi Security                      34
Hotstar                                                             32
Hotwire Hotel & Car Rental App                                      33
Housing-Real Estate & Property                                      21

[865 rows x 1 columns]

In [52]:
final_file = pd.merge(file, sentiment_count, on='App', how= 'left')

final_file=final_file.fillna(0)

In [53]:
final_file[['App', 'Category_Rank', 'Content_Rank', 'Sentiment_Polarity']]

,App,Category_Rank,Content_Rank,Sentiment_Polarity
0,Facebook,13,64,132.0
1,Instagram,13,64,0.0
2,Google+,13,64,2.0
3,Snapchat,13,64,0.0
4,Facebook Lite,13,64,29.0
...,...,...,...,...
269,Boom Beach,31,21,0.0
270,SimCity BuildIt,31,21,0.0
271,MARVEL Future Fight,31,21,0.0
272,Minecraft,31,21,0.0
273,Star Wars‚Ñ¢: Galaxy of Heroes,31,21,0.0

In [73]:
suma = final_file['Category_Rank'] + final_file['Content_Rank'] + final_file['Sentiment_Polarity']
total = pd.Series(suma)
frame = {'Total':total}
total_frame = pd.DataFrame(frame)
total_frame

     Total
0    209.0
1     77.0
2     79.0
3     77.0
4    106.0
..     ...
269   52.0
270   52.0
271   52.0
272   52.0
273   52.0

[274 rows x 1 columns]

In [104]:
final_file['Total'] = total_frame
final_file.sort_values(['Total', 'Installs', 'Reviews'], ascending=False).iloc[:10]

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Category_Rank,Content_Rank,Sentiment_Polarity,Total
113,Angry Birds Classic,GAME,4.4,5566908,97M,100000000,Free,Everyone,93,175,273.0,541.0
134,Helix Jump,GAME,4.2,1500999,33M,100000000,Free,Everyone,93,175,273.0,541.0
100,Candy Crush Saga,GAME,4.4,22430188,74M,500000000,Free,Everyone,93,175,240.0,508.0
26,Bowmasters,GAME,4.7,1536349,Varies with device,50000000,Free,Teen,93,64,312.0,469.0
198,Duolingo: Learn Languages Free,FAMILY,4.7,6297590,Varies with device,100000000,Free,Everyone,31,175,240.0,446.0
111,Candy Crush Soda Saga,GAME,4.4,6199095,67M,100000000,Free,Everyone,93,175,166.0,434.0
245,Calorie Counter - MyFitnessPal,HEALTH_AND_FITNESS,4.6,1873523,Varies with device,50000000,Free,Everyone,2,175,255.0,432.0
123,Agar.io,GAME,4.2,3816799,32M,100000000,Free,Everyone,93,175,136.0,404.0
223,8 Ball Pool,SPORTS,4.5,14201891,52M,100000000,Free,Everyone,9,175,219.0,403.0
126,Cooking Fever,GAME,4.5,3198176,82M,100000000,Free,Everyone,93,175,135.0,403.0

In [94]:
suma = file['Category_Rank'] + file['Content_Rank'] 
total_2 = pd.Series(suma)
frame_2 = {'Total':total_2}
total_frame_2 = pd.DataFrame(frame_2)
total_frame_2

     Total
0       77
1       77
2       77
3       77
4       77
..     ...
269     52
270     52
271     52
272     52
273     52

[274 rows x 1 columns]

In [105]:
file['Total'] = total_frame_2
file.sort_values(['Total', 'Installs', 'Reviews'], ascending=False).iloc[:50]
#dopiero 50 apka ma inny total

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Category_Rank,Content_Rank,Total
100,Candy Crush Saga,GAME,4.4,22430188,74M,500000000,Free,Everyone,93,175,268
101,My Talking Tom,GAME,4.5,14892469,Varies with device,500000000,Free,Everyone,93,175,268
102,Pou,GAME,4.3,10486018,24M,500000000,Free,Everyone,93,175,268
103,Temple Run 2,GAME,4.3,8119154,62M,500000000,Free,Everyone,93,175,268
104,Pok√©mon GO,GAME,4.1,10424925,85M,100000000,Free,Everyone,93,175,268
105,Yes day,GAME,4.5,10055521,94M,100000000,Free,Everyone,93,175,268
106,My Talking Angela,GAME,4.5,9883367,99M,100000000,Free,Everyone,93,175,268
107,Hill Climb Racing,GAME,4.4,8923847,63M,100000000,Free,Everyone,93,175,268
108,Piano Tiles 2‚Ñ¢,GAME,4.7,8118880,Varies with device,100000000,Free,Everyone,93,175,268
109,Farm Heroes Saga,GAME,4.4,7615646,71M,100000000,Free,Everyone,93,175,268
110,Trivia Crack,GAME,4.5,6427773,95M,100000000,Free,Everyone,93,175,268
111,Candy Crush Soda Saga,GAME,4.4,6199095,67M,100000000,Free,Everyone,93,175,268
112,Geometry Dash Lite,GAME,4.5,6181640,58M,100000000,Free,Everyone,93,175,268
113,Angry Birds Classic,GAME,4.4,5566908,97M,100000000,Free,Everyone,93,175,268
114,Score! Hero,GAME,4.6,5419676,96M,100000000,Free,Everyone,93,175,268
115,Traffic Racer,GAME,4.5,5387781,53M,100000000,Free,Everyone,93,175,268
116,slither.io,GAME,4.4,5235294,Varies with device,100000000,Free,Everyone,93,175,268
117,Fruit Ninja¬Æ,GAME,4.3,5091448,41M,100000000,Free,Everyone,93,175,268
118,Dr. Driving,GAME,4.5,4972230,9.9M,100000000,Free,Everyone,93,175,268
119,Crossy Road,GAME,4.5,4230886,60M,100000000,Free,Everyone,93,175,268
120,Smash Hit,GAME,4.5,4147718,79M,100000000,Free,Everyone,93,175,268
121,Temple Run,GAME,4.3,4000433,42M,100000000,Free,Everyone,93,175,268
122,Angry Birds 2,GAME,4.6,3883589,57M,100000000,Free,Everyone,93,175,268
123,Agar.io,GAME,4.2,3816799,32M,100000000,Free,Everyone,93,175,268
124,Sonic Dash,GAME,4.5,3778921,75M,100000000,Free,Everyone,93,175,268
125,Banana Kong,GAME,4.4,3452530,68M,100000000,Free,Everyone,93,175,268
126,Cooking Fever,GAME,4.5,3198176,82M,100000000,Free,Everyone,93,175,268
127,Hill Climb Racing 2,GAME,4.6,2750645,Varies with device,100000000,Free,Everyone,93,175,268
128,Talking Tom Gold Run,GAME,4.6,2698889,78M,100000000,Free,Everyone,93,175,268
129,Angry Birds Rio,GAME,4.4,2610680,46M,100000000,Free,Everyone,93,175,268
130,Bike Race Free - Top Motorcycle Racing Games,GAME,4.5,2586261,Varies with device,100000000,Free,Everyone,93,175,268
131,Extreme Car Driving Simulator,GAME,4.3,2251012,52M,100000000,Free,Everyone,93,175,268
132,Cut the Rope FULL FREE,GAME,4.4,2123793,49M,100000000,Free,Everyone,93,175,268
133,Glow Hockey,GAME,4.1,1703479,Varies with device,100000000,Free,Everyone,93,175,268
134,Helix Jump,GAME,4.2,1500999,33M,100000000,Free,Everyone,93,175,268
135,Roll the Ball¬Æ - slide puzzle,GAME,4.5,1385093,35M,100000000,Free,Everyone,93,175,268
136,Gardenscapes,GAME,4.6,4129665,Varies with device,50000000,Free,Everyone,93,175,268
137,Angry Birds Go!,GAME,4.2,3846378,82M,50000000,Free,Everyone,93,175,268
138,Toy Blast,GAME,4.7,1889582,Varies with device,50000000,Free,Everyone,93,175,268
139,Bubble Witch 3 Saga,GAME,4.7,1732263,78M,50000000,Free,Everyone,93,175,268
140,UNO ‚Ñ¢ & Friends,GAME,4.1,1728557,Varies with device,50000000,Free,Everyone,93,175,268
141,Words With Friends Classic,GAME,4.3,1704112,Varies with device,50000000,Free,Everyone,93,175,268
142,Geometry Dash Meltdown,GAME,4.6,1591129,48M,50000000,Free,Everyone,93,175,268
143,CATS: Crash Arena Turbo Stars,GAME,4.7,1559650,Varies with device,50000000,Free,Everyone,93,175,268
144,Red Ball 4,GAME,4.4,1432447,59M,50000000,Free,Everyone,93,175,268
145,Homescapes,GAME,4.6,3093932,Varies with device,10000000,Free,Everyone,93,175,268
146,Fishdom,GAME,4.6,2158580,Varies with device,10000000,Free,Everyone,93,175,268
147,Best Fiends - Free Puzzle Game,GAME,4.6,1480189,Varies with device,10000000,Free,Everyone,93,175,268
148,Toon Blast,GAME,4.7,1351771,Varies with device,10000000,Free,Everyone,93,175,268
197,Hay Day,FAMILY,4.5,10053186,94M,100000000,Free,Everyone,31,175,206