In [82]:
import pandas as pd
import numpy as np
import os

df1 = pd.read_csv('googleplaystore.csv') 

data = df1[['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type', 'Content Rating']].groupby(['App']).max().dropna().reset_index()
data["Installs"] = pd.to_numeric(data["Installs"].str.replace(",","").str.replace("+",""))
data["Reviews"] = pd.to_numeric(data["Reviews"])
mydata = data[['App',"Type",'Category', 'Content Rating', "Rating", "Reviews", "Installs"]]
mydata

C:\Users\andrz\AppData\Local\Temp/ipykernel_15560/2747569144.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Installs"] = pd.to_numeric(data["Installs"].str.replace(",","").str.replace("+",""))

,App,Type,Category,Content Rating,Rating,Reviews,Installs
0,+Download 4 Instagram Twitter,Free,SOCIAL,Everyone,4.5,40467,1000000
1,- Free Comics - Comic Apps,Free,COMICS,Mature 17+,3.5,115,10000
2,.R,Free,TOOLS,Everyone,4.5,259,10000
3,/u/app,Free,COMMUNICATION,Mature 17+,4.7,573,10000
4,058.ba,Free,NEWS_AND_MAGAZINES,Everyone,4.4,27,100
...,...,...,...,...,...,...,...
8191,Í∞êÏÑ±ÌïôÏõê BL Ï≤´ÏÇ¨Îûë,Free,COMICS,Everyone,4.4,190,10000
8192,üíé I'm rich,Paid,LIFESTYLE,Everyone,3.8,718,10000
8193,"üíò WhatsLov: Smileys of love, stickers and GIF",Free,SOCIAL,Everyone,4.6,22098,1000000
8194,üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework!,Free,TOOLS,Everyone,4.0,19,10000
8195,üî• Football Wallpapers 4K | Full HD Backgrounds üòç,Free,ENTERTAINMENT,Everyone,4.7,11661,1000000

In [83]:
mydata['App'].duplicated().sum()

0

In [84]:
free_type = mydata[mydata['Type']== 'Free']
free_type

,App,Type,Category,Content Rating,Rating,Reviews,Installs
0,+Download 4 Instagram Twitter,Free,SOCIAL,Everyone,4.5,40467,1000000
1,- Free Comics - Comic Apps,Free,COMICS,Mature 17+,3.5,115,10000
2,.R,Free,TOOLS,Everyone,4.5,259,10000
3,/u/app,Free,COMMUNICATION,Mature 17+,4.7,573,10000
4,058.ba,Free,NEWS_AND_MAGAZINES,Everyone,4.4,27,100
...,...,...,...,...,...,...,...
8190,Ëã±Êº¢Â≠óÂÖ∏ EC Dictionary,Free,FAMILY,Everyone,4.3,55408,1000000
8191,Í∞êÏÑ±ÌïôÏõê BL Ï≤´ÏÇ¨Îûë,Free,COMICS,Everyone,4.4,190,10000
8193,"üíò WhatsLov: Smileys of love, stickers and GIF",Free,SOCIAL,Everyone,4.6,22098,1000000
8194,üìè Smart Ruler ‚ÜîÔ∏è cm/inch measuring for homework!,Free,TOOLS,Everyone,4.0,19,10000
8195,üî• Football Wallpapers 4K | Full HD Backgrounds üòç,Free,ENTERTAINMENT,Everyone,4.7,11661,1000000

In [85]:
# top_10_cat =free_type.sort_values(["Installs","Reviews"], ascending=False).iloc[:100]
# top_10_cat

,App,Type,Category,Content Rating,Rating,Reviews,Installs
3432,Facebook,Free,SOCIAL,Teen,4.1,78158306,1000000000
7665,WhatsApp Messenger,Free,COMMUNICATION,Everyone,4.4,69119316,1000000000
4422,Instagram,Free,SOCIAL,Teen,4.5,66577446,1000000000
5096,Messenger ‚Äì Text and Video Chat for Free,Free,COMMUNICATION,Everyone,4.0,56646578,1000000000
6807,Subway Surfers,Free,GAME,Everyone 10+,4.5,27725352,1000000000
...,...,...,...,...,...,...,...
727,Avast Mobile Security 2018 - Antivirus & App Lock,Free,TOOLS,Everyone,4.5,5180480,100000000
5646,Opera Mini - fast web browser,Free,COMMUNICATION,Everyone,4.5,5150801,100000000
3777,Fruit Ninja¬Æ,Free,GAME,Everyone,4.3,5091448,100000000
2760,Dr. Driving,Free,GAME,Everyone,4.5,4972230,100000000
653,Applock,Free,TOOLS,Everyone,4.4,4934130,100000000

In [86]:
d = data.sort_values(["Installs","Reviews"], ascending=False)
q = .8
pop = d[d["Installs"] > d["Installs"].quantile(q)]
pop = pop[pop["Reviews"] > pop["Reviews"].quantile(q)]
pop.sort_values(["Installs","Reviews"], ascending=False)

d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Category"]).count().reset_index()
d.iloc[:,:2].sort_values(["App"], ascending=False)

               Category  App
5                  GAME   93
3                FAMILY   31
1         COMMUNICATION   27
16                TOOLS   22
11          PHOTOGRAPHY   20
14               SOCIAL   13
12         PRODUCTIVITY   13
15               SPORTS    9
10      PERSONALIZATION    8
13             SHOPPING    8
18        VIDEO_PLAYERS    7
19              WEATHER    5
17     TRAVEL_AND_LOCAL    4
8   MAPS_AND_NAVIGATION    3
0   BOOKS_AND_REFERENCE    3
6    HEALTH_AND_FITNESS    2
4               FINANCE    2
2         ENTERTAINMENT    2
9    NEWS_AND_MAGAZINES    1
7             LIFESTYLE    1

In [87]:
d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Content Rating"]).count().reset_index()
d.iloc[:,:2].sort_values(["App"], ascending=False)

  Content Rating  App
0       Everyone  175
3           Teen   64
1   Everyone 10+   21
2     Mature 17+   14

In [88]:
d = pop.sort_values(["Installs","Reviews"], ascending=False)
d = d.groupby(["Rating"]).count().reset_index()
d.iloc[:,:2].sort_values(["App"], ascending=False)

    Rating  App
7      4.4   65
8      4.5   62
9      4.6   52
6      4.3   48
5      4.2   16
10     4.7   15
4      4.1    5
3      4.0    4
11     4.8    4
0      3.7    1
1      3.8    1
2      3.9    1

In [89]:
pop

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating
3432,Facebook,SOCIAL,4.1,78158306,Varies with device,1000000000,Free,Teen
7665,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,1000000000,Free,Everyone
4422,Instagram,SOCIAL,4.5,66577446,Varies with device,1000000000,Free,Teen
5096,Messenger ‚Äì Text and Video Chat for Free,COMMUNICATION,4.0,56646578,Varies with device,1000000000,Free,Everyone
6807,Subway Surfers,GAME,4.5,27725352,76M,1000000000,Free,Everyone 10+
...,...,...,...,...,...,...,...,...
6121,RULES OF SURVIVAL,GAME,4.2,1343866,56M,10000000,Free,Teen
1123,Bank of Brazil,FINANCE,4.5,1336246,39M,10000000,Free,Everyone
5320,My Horse,FAMILY,4.5,1333338,8.7M,10000000,Free,Everyone
5631,Online Soccer Manager (OSM),SPORTS,4.5,1312936,21M,10000000,Free,Everyone
7806,Yahoo Weather,WEATHER,4.4,1312037,Varies with device,10000000,Free,Everyone

In [90]:
df2 = pd.read_csv('googleplaystore_user_reviews.csv') 


sentiment_count =df2[['App', 'Sentiment_Polarity']].dropna().groupby(['App']).count()
sentiment_count

                                                    Sentiment_Polarity
App
10 Best Foods for You                                              194
104 ÊâæÂ∑•‰Ωú - ÊâæÂ∑•‰Ωú ÊâæÊâìÂ∑• ÊâæÂÖºËÅ∑ Â±•Ê≠∑ÂÅ•Ê™¢ Â±•Ê≠∑Ë®∫ÁôÇÂÆ§                                    40
11st                                                                40
1800 Contacts - Lens Store                                          80
1LINE ‚Äì One Line with One Touch                                     38
...                                                                ...
Hotels.com: Book Hotel Rooms & Find Vacation Deals                  68
Hotspot Shield Free VPN Proxy & Wi-Fi Security                      34
Hotstar                                                             32
Hotwire Hotel & Car Rental App                                      33
Housing-Real Estate & Property                                      21

[865 rows x 1 columns]

In [91]:
final_file = pd.merge(pop, sentiment_count, on='App', how= 'left')

final_file.fillna(0)

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Sentiment_Polarity
0,Facebook,SOCIAL,4.1,78158306,Varies with device,1000000000,Free,Teen,132.0
1,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,1000000000,Free,Everyone,0.0
2,Instagram,SOCIAL,4.5,66577446,Varies with device,1000000000,Free,Teen,0.0
3,Messenger ‚Äì Text and Video Chat for Free,COMMUNICATION,4.0,56646578,Varies with device,1000000000,Free,Everyone,0.0
4,Subway Surfers,GAME,4.5,27725352,76M,1000000000,Free,Everyone 10+,0.0
...,...,...,...,...,...,...,...,...,...
269,RULES OF SURVIVAL,GAME,4.2,1343866,56M,10000000,Free,Teen,0.0
270,Bank of Brazil,FINANCE,4.5,1336246,39M,10000000,Free,Everyone,0.0
271,My Horse,FAMILY,4.5,1333338,8.7M,10000000,Free,Everyone,0.0
272,Online Soccer Manager (OSM),SPORTS,4.5,1312936,21M,10000000,Free,Everyone,0.0
273,Yahoo Weather,WEATHER,4.4,1312037,Varies with device,10000000,Free,Everyone,0.0

   App  Sentiment_Polarity
0    1                  59